:root {
  --yellow: #fede42;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  --text-color__half: rgba(0, 0, 0, 0.5);
  --opacity-border: 1px solid rgba(255, 255, 255, 0.3);
}
