#music-screen{
    background-color: #1A1A1A;
    color: white;
}

.music-header{
    display: flex;
    margin-top: 13px;
}

.music-header__column{
    display: flex;
    width: 33%;
    align-items: center;
}

.music-header__column:first-child{
    margin-left: 15px;
}

.music-header__column:nth-child(2){
    justify-content: center;
    font-weight: bold;
}

.music-header__column-header{
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.music-header__column:last-child{
    justify-content: flex-end;
    margin-right: 15px;
}

.music-header__column:last-child span:first-child{
    margin-right: 15px;
}

.music-header__column-header i{
    margin-right: 6px;
    color: #03D344;
}

.main__music-screen{
    display: flex;
}

.main__music-screen__menu-column{
    display: flex;
}