.popup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 134px;
    position: absolute;
    bottom: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-header{
    display: flex;
    justify-content: flex-end;
}

.popup-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-text__using{
    background-color: #03D344;
    padding: 8px 15px;
    border-radius: 17px;
    margin-top: 10px;
}