.main-screen{
    height: 100vh;
}
.settings__setting{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting span{
    font-size: 25px;
}

.settings__setting i{
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

.settings__setting:last-child{
    border-bottom: none;
}

.settings-list:first-child{
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.settings-list:last-child{
    margin-top: 23px;
}


.settings-list:last-child > .settings__setting:nth-child(3) span:last-child{
    font-size: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    position: relative;
    bottom: 3px;
}